@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /*Neutral colors*/
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--pale-blue);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 16px;
  background: url('../images/pattern-background-desktop.svg') no-repeat;
  background-size: 100% 50%;
  background-position: top;
  background-color: hsl(225, 100%, 94%);
}

h1, h2, h3,h4, h5, h6, p, a, span, button {
  font-family: "Red Hat Display", sans-serif !important;
}

h1, h2, h3,h4, h5, h6 {
  font-weight: 900;
  color: var(--dark-blue);
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70%;
  border-radius: 12px;
  background: white;
  width: 380px;
}

#hero-container {
  width: 100%;
}

#hero-img {
  object-fit: contain;
  width: 100%;
  border-radius: 12px 12px 0 0;
}

#content-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

#text-area {
  margin: 2.3rem 0 1.5rem 0;
}

#text-area p {
  margin-top: 1rem;
  opacity: .5;
}

#buy-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--very-pale-blue);
  border-radius: 8px;
  padding: 1.2rem 1rem;
}

#plan-area {
  display: flex;
  justify-content: left;
}

#indicator {
  margin-left: 1rem;
}

#indicator h4 {
  margin-bottom: 0.3rem;
}

#price {
  opacity: .7;
}

#b-change {
  color: var(--bright-blue);
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;

  font-weight: 700;
}

#b-change:hover {
  text-decoration: none;
  color: var(--desaturated-blue);
}

#b-payment {
  background: var(--bright-blue);
  color: white;
  border-radius: 8px;
  padding: 0.6rem 0;
  margin: 1.3rem 0;
  width: 100%;
  border: none;
  outline: none;
  transition: .3s;

  cursor: pointer;

  font-weight: 700;
  text-align: center;
}

#b-payment:hover {
  background: var(--desaturated-blue);
  transition: .3s;
}

#b-cancel {
  outline: none;
  background: none;
  border: none;
  transition: .3s;
  margin-bottom: 1.5rem;

  cursor: pointer;

  font-weight: 700;
}

#b-cancel:hover {
  color: var(--dark-blue);
  transition: .3s;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
